<div
  fxFlex
  fxLayout="row"
  fxLayoutAlign="center"
  fxLayoutGap="10px"
  fxLayout.xs="column"
>
  <mat-card class="card">
    <mat-card-content>
      <div class="container">
        <app-form></app-form>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card fxFlex="50%" class="card">
    <mat-card-content>
      <highcharts-chart
        [Highcharts]="Highcharts"
        [constructorType]="chartConstructor"
        [options]="chartOptions"
        [(update)]="updateFlag"
        [oneToOne]="oneToOneFlag"
        [runOutsideAngular]="runOutsideAngularFlag"
        style="width: 100%; height: 100%; display: block;"
      ></highcharts-chart>
    </mat-card-content>
  </mat-card>
</div>
