<form
  fxFlex
  fxLayout="column"
  fxLayoutAlign="center"
  fxLayoutGap="10px"
  [formGroup]="myForm"
  (ngSubmit)="onSubmit(myForm.value)"
>
  <mat-form-field>
    <input
      matInput
      placeholder="Initial Investment"
      formControlName="startingCapitalAmount"
      type="number"
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Compound Frequency</mat-label>
    <mat-select formControlName="typeOfPeriod">
      <mat-option *ngFor="let period of periods" [value]="period.value">
        {{ period.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="{{ getContributionTypeString }} Contribution"
      formControlName="additionAmount"
      type="number"
    />
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="Number Of {{ myForm.controls.typeOfPeriod.value }}s"
      formControlName="numberOfPeriods"
      type="number"
    />
  </mat-form-field>

  <div>
    <button mat-raised-button color="primary" type="submit">
      Get data!
    </button>
  </div>
</form>
