<form
  fxFlex
  fxLayout="column"
  fxLayoutAlign="center"
  fxLayoutGap="10px"
  [formGroup]="myForm"
  (ngSubmit)="onSubmit(myForm.value)"
>
  <mat-form-field>
    <input
      matInput
      placeholder="Initial Investment"
      formControlName="startingCapitalAmount"
      type="number"
    />
    <mat-error>{{
      getErrorMessage(myForm.controls.startingCapitalAmount)
    }}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="Monthly Contribution"
      formControlName="additionAmount"
      type="number"
    />
    <mat-error>{{ getErrorMessage(myForm.controls.additionAmount) }}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="Number Of Years Investing"
      formControlName="numberOfYears"
      type="number"
    />
    <mat-error>{{ getErrorMessage(myForm.controls.numberOfY) }}</mat-error>
  </mat-form-field>

  <div>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!myForm.valid"
    >
      Get data!
    </button>
  </div>
</form>
